<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout">

<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/header :: common-navbar" />
	<div class="container">
		<div class="row">
			<table class="table" id="bookListTable">
				<thead>
					<tr>
						<th scope="col"><input th:id="selectAllBooks" type="checkbox" /></th>
						<th scope="col">Title</th>
						<th scope="col">Author</th>
						<th scope="col">Category</th>
						<th scope="col">List Price</th>
						<th scope="col">Our Price</th>
						<th scope="col">Active?</th>
						<th scope="col">Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="book : ${bookList}">
						<td>
							<input type="hidden" name="id" th:value="${book.id}" />
							<input type="checkbox" th:id="'selected'+${book.id}" class="checkBoxBook" />
						</td>
						<td><a th:href="@{/book/bookInfo(id=${book.id})}"><span th:text="${book.title}"></span></a></td>
						<td th:text="${book.author}"></td>
						<td th:text="${book.category}"></td>
						<td th:text="${book.listPrice}"></td>
						<td th:text="${book.ourPrice}"></td>
						<td th:text="${book.active}"></td>
						<td>
							<input type="hidden" name="id" th:value="${book.id}" />
							<button type="submit" class="btn btn-outline-danger btn-sm delete-book" th:id="'oneBook-'+${book.id}">Delete</button>
							<a th:href="@{/book/updateBook(id=${book.id})}" class="btn btn-outline-info btn-sm">Edit</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<button th:id="deleteSelected" class="btn btn-outline-danger">Delete Selected</button>

	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#bookListTable").DataTable({
				"order": false,
				stateSave: true
			});

			$(function () {
				$('#selectAllBooks').on('change', function () {
					$('.checkBoxBook').prop('checked', $(this).prop('checked'));
				});
			});

			$(".delete-book").on('click',function () {
				var path = 'remove';
				var id = $(this).prop('id');

				bootbox.confirm({
					message: "Are you Sure you want to delete, it can't be undone.",
					buttons: {
						cancel: {
							label: 'Cancel',
							className: "btn btn-outline-danger btn-sm"
						},
						confirm: {
							label: 'Confirm',
							className: "btn btn-info btn-sm"
						}
					},
					callback: function (confirmed) {
						if (confirmed) {
							$.post(path, {'id': id}, function (res) {
								location.reload();
							});
						}
					}
				});
			});
			
			$("#deleteSelected").click(function() {
				var idList = $('.checkBoxBook');
				var bookIdList = [];
				for(var i = 0;i < idList.length; i++) {
					if(idList[i].checked==true) {
						bookIdList.push(idList[i]['id'])
					}
				}
				console.log(idList);
				console.log(bookIdList);
				var path = 'removeList';
				bootbox.confirm({
					message: "Are you sure you want to delete all books,it can be undone.",
					buttons: {
						cancel: {
							label: 'Cancel',
							className: 'btn btn-danger btn-sm'
						},
						confirm: {
							label: 'Confirm',
							className: 'btn btn-info btn-sm'
						}
					},
					callback: function(confirmed) {
						if (confirmed) {
							$.ajax({
								type: 'POST',
								url: path,
								data: JSON.stringify(bookIdList),
								contentType: "application/json",
								success: function(res) {
									console.log(res);
									location.reload();
								},
								error: function(res) {
									console.log(res);
									location.reload();
								}
							});
						}
					}
				});
			});
		});
	</script>
</body>

</html>